
body{
  background: rgb(75, 98, 226);
}

.todo-app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 50px auto;
  border-radius: 20px;
}

h1{
  margin:32px 0;
  color:rgb(75, 98, 226);
  font-size: 24px;
}

.todo-input{
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border:2px solid rgb(75, 98, 226);
  outline:none;
  width:320px;
  background: transparent;
  color:rgb(75, 98, 226);
}

.todo-input::placeholder{
  color: rgb(0, 0, 0);
}

.todo-button{
  padding: 16px;
  border:none;
  border-radius:0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: rgb(75, 98, 226);
}





